#alaska {
	position:absolute;
	left: 56px;	top: 30px;
	border: 1px;
}
#nwterritory {
	position:absolute;
	left: 132px;	top: 32px;
}
#alberta {
	position:absolute;
	left: 117px;	top: 69px;
}
#ontario {
	position:absolute;
	left: 185px;	top: 79px;
}
#easterncanada {
	position:absolute;
	left: 248px;	top: 80px
}
#westernus {
	position:absolute;
	left: 97px;	top: 125px;
}
#easternus {
	position:absolute;
	left: 170px;	top: 137px
}
#centralamerica {
	position:absolute;
	left: 144px;	top: 202px;
}

#greenland {
	position:absolute;
	left: 350px;	top: 10px;
}
#iceland {
	position:absolute;
	left: 400px;	top: 43px;
}
#greatbritain {
	position:absolute;
	left: 432px;	top: 74px;
}
#scandinavia {
	position:absolute;
	left: 488px;	top: 49px;
}
#russia {
	position:absolute;
	left: 555px;	top: 70px;
}
#neurope {
	position:absolute;
	left: 488px;	top: 82px;
}
#weurope {
	position:absolute;
	left: 443px;	top: 115px;
}
#seurope {
	position:absolute;
	left: 511px;	top: 115px;
}

#venezuela {
	position:absolute;
	left: 201px;	top: 245px;
}
#brazil {
	position:absolute;
	left: 271px;	top: 317px;
}
#peru {
	position:absolute;
	left: 222px;	top: 334px;
}
#argentina {
	position:absolute;
	left: 233px;	top: 402px;
}

#nafrica {
	position:absolute;
	left: 455px;	top: 209px;
}
#egypt {
	position:absolute;
	left: 513px;	top: 175px;
}
#eafrica {
	position:absolute;
	left: 557px;	top: 234px;
}
#cafrica {
	position:absolute;
	left: 515px;	top: 277px;
}
#safrica {
	position:absolute;
	left: 521px;	top: 353px;
}
#madagascar {
	position:absolute;
	left: 598px;	top: 348px;
}


#indonesia {
	position:absolute;
	left: 829px;	top: 255px;
}
#newguinea {
	position:absolute;
	left: 921px;	top: 278px;
}
#waustralia {
	position:absolute;
	left: 844px;	top: 369px;
}
#eaustralia {
	position:absolute;
	left: 917px;	top: 373px;
}


#ural {
	position:absolute;
	left: 644px;	top: 47px;
}
#siberia {
	position:absolute;
	left: 700px;	top: 35px;
}
#yakutsk {
	position:absolute;
	left: 790px;	top: 36px;
}
#kamchatka {
	position:absolute;
	left: 898px;	top: 31px;
}
#irkutsk {
	position:absolute;
	left: 763px;	top: 68px;
}
#afghanistan {
	position:absolute;
	left: 643px;	top: 108px;
}
#mongolia {
	position:absolute;
	left: 780px;	top: 105px;
}
#japan {
	position:absolute;
	left: 878px;	top: 125px;
}
#china {
	position:absolute;
	left: 785px;	top: 161px;
}
#middleeast {
	position:absolute;
	left: 586px;	top: 165px;
}
#india {
	position:absolute;
	left: 700px;	top: 190px;
}
#siam {
	position:absolute;
	left: 787px;	top: 211px;
}
